node_modules/
.expo/
dist/
web-build/
android/.gradle/
android/app/build/
android/build/
android/local.properties
.env
.env.*
*.env
*.keystore
*.jks
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
